@import "styles/utils.scss";
.HomeTemplate {
  width: 100%;
  height: 100%;
}
.HomeSection {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 13.5rem;
  margin-bottom: 13.5rem;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 75rem;

  @include media("<medium") {
    width: calc(100% - 2rem);
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
